{% extends "home/layout.html" %}
{% block css%}
<link rel="stylesheet" type="text/css" href="/static/home/css/news.css"/>

{% endblock css%}

{% block content%}
{% assets "css_index" %}
<link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}

<div class="content-container">
    <div id='about-div' class="row-section row-height-800">
        <div id='about-text-content'>
            <h1 class="about-title">关于乐影APPs</h1><br>
            <h1 style="font-size:30px;color:#333">乐影app还提供其他的特色服务项目</h1><br>
            <h3 class="about-content">
                乐影为需筹资的影片提供众筹平台，致力于解决青年导演资金不足的现实状况，为想投资行业<br>
                的人士提供资金选择，带动文化产业发展。众筹的回馈方式更加多样化，除以往一般众筹的回<br>
                馈方式（如赠送海报签名、CD、含有影片的U盘、电影券、片尾署名、片中出现企业产品活logo<br>
                按比例分红等）以外，还加入了参加party、和剧组一起毅行、剧组两日游、包票和剧组一起出<br>
                游等等创新性的回馈方式、缩短了观众、艺人、影视三者的距离
            </h3>
        </div>
        <div id='about-image-content'>
            <img src="/static/images/iphone1.png">
        </div>
    </div>
    <div class="row-section row-height-500" id="about-us-div">
        <h1 class="about-us-title">关于我们</h1>
        <p class="about-us-text">
            杭州鸿古科技有限公司位于杭州经济开发区世茂江滨花园骏景湾，以壹佰万元整的注册资本成立于2015年03月25日，类型属于科技型公司，作为新成立公司，鸿古具有更加新锐的理念想法，不拘泥于传统，不被繁琐的框架所制约，大胆创新，勇于尝试。转变固定视角，更加善于发现市场空缺与契机，不仅要抓住机遇，更要创造机遇。一家具有新锐理念的公司将会有更大的发展空间，相信其发展壮大的速度也是迅速客观的。
            公司的经营理念为：丰富人民业余生活，一起全民玩影视。目标群体更为广泛，但同时也分类集中，可集中管理。公司着重投入主打手机移动应用“乐影”项目，使其成为公司代表性项目。
        </p>
    </div>
    <div class="row-section row-height-1000" id="our-advtg-div">
        <h1 class='our-advtg-title'>我们的优势</h1>
        <div class="our-advtg-item">
            <img src="/static/images/icon1.png"/>
            <p>
                包括技术开发、技术服务、技术咨询、成果转让；计算机软硬件，数码产品；服务；文化艺术策划（除演出及演出中介），投资管理咨询（除证券、期货），广告设计、制作、代理。
            </p>

        </div>
        <div class="our-advtg-item">
            <img src="/static/images/icon2.png"/>
            <p>
                包括技术开发、技术服务、技术咨询、成果转让；计算机软硬件，数码产品；服务；文化艺术策划（除演出及演出中介），投资管理咨询（除证券、期货），广告设计、制作、代理。
            </p>

        </div>
        <div class="our-advtg-item">
            <img src="/static/images/icon3.png"/>
            <p>
                包括技术开发、技术服务、技术咨询、成果转让；计算机软硬件，数码产品；服务；文化艺术策划（除演出及演出中介），投资管理咨询（除证券、期货），广告设计、制作、代理。
            </p>

        </div>

        <div id="our-advtg-div2">
            <div class="item">
                <h3>众筹帮助您实现梦想</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan orci eget ullamcorper
                    sollicitudin.</p>
            </div>
            <div class="item">
                <h3>申请大众艺人，您也可以当明星</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan orci eget ullamcorper
                    sollicitudin.</p>
            </div>
            <div class="item">
                <h3>少量投资，丰富回报</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan orci eget ullamcorper
                    sollicitudin.</p>
            </div>
            <div class="item">
                <h3>其他功能</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan orci eget ullamcorper
                    sollicitudin.</p>
            </div>
            <img id='our-advtg-div2-image' src="/static/images/iphone2.png">

        </div>
    </div>
    <div class="row-section row-height-500" id="why-div">
        <h1 id='why-title'>为什么选择乐影</h1>
        <img src="">
        <div class="item">
            <img src="/static/images/icon4.png">
            <h1>快速</h1>
            <h3>HOURS OF WORK</h3>
        </div>
        <div class="item">
            <img src="/static/images/icon5.png">
            <h1>广泛</h1>
            <h3>SATISFIED CLIENTS</h3>
        </div>
        <div class="item">
            <img src="/static/images/icon6.png">
            <h1>高效</h1>
            <h3>PROJECTS DELIVERED</h3>
        </div>
    </div>

    <div class="row-section row-height-200" id='bottom-div'>
        <h1>杭州鸿古科技有限公司</h1>
    </div>
</div>
{% endblock content %}