<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>乐影APP-影视周筹</title>
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<link rel="stylesheet" type="text/css" href="css/head_common.css"/>
		<link rel="stylesheet" type="text/css" href="css/news.css"/>
		<link rel="stylesheet" type="text/css" href="css/crowdfunding.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer_common.css"/>
	</head>
	<body>
		<!--公用head-->
		<div class="head">
			<div class="head_box box">
				<a href="index.html" class="logo"><img src="images/logo.png" alt=""/></a>
				<ul class="nav">
					<li><a href="index.html">首页</a></li>
					<li><a href="news_center.html">新闻动态</a></li>
					<li><a class="nav_cur" href="crowdfunding.html">影视众筹</a></li>
					<li><a href="">众筹发布</a></li>
					<li><a href="member_center.html">会员中心</a></li>
					<li><a href="">app展示</a></li>
				</ul>
			</div>
		</div>
		<div class="banner">
			<ul class="banner_container">
				<li><a href=""><span>鸿古众筹，为您实现梦想</span></a></li>
			</ul>
		</div>
		<div class="crowdfun">
			<div class="crowdfun_box box">
				<h2>所有众筹</h2>
				<div class="crowdfun_container">
					<ul class="crowdfun_list">
						<li>
							<a href="">立即参与</a>
							<div class="crowdfun_img"><img src="images/crowdfun_img1.png" alt=""/></div>
							<div class="crowdfun_title"><span>十万个冷笑话</span><i>影视</i></div>
							<ul class="crowdfun_inf">
								<li class="percent"><div>124<em>%</em></div><span>已达</span></li>
								<li class="money"><div>&yen;&nbsp;<em>248860</em></div><span>已筹</span></li>
								<li class="left_time"><div>43<em>天</em></div><span>剩余时间</span></li>
							</ul>
						</li>
						<li>
							<a href="">立即参与</a>
							<div class="crowdfun_img"><img src="images/crowdfun_img1.png" alt=""/></div>
							<div class="crowdfun_title"><span>十万个冷笑话</span><i>影视</i></div>
							<ul class="crowdfun_inf">
								<li class="percent"><div>124<em>%</em></div><span>已达</span></li>
								<li class="money"><div>&yen;&nbsp;<em>248860</em></div><span>已筹</span></li>
								<li class="left_time"><div>43<em>天</em></div><span>剩余时间</span></li>
							</ul>
						</li>
						<li>
							<a href="">立即参与</a>
							<div class="crowdfun_img"><img src="images/crowdfun_img1.png" alt=""/></div>
							<div class="crowdfun_title"><span>十万个冷笑话</span><i>影视</i></div>
							<ul class="crowdfun_inf">
								<li class="percent"><div>124<em>%</em></div><span>已达</span></li>
								<li class="money"><div>&yen;&nbsp;<em>248860</em></div><span>已筹</span></li>
								<li class="left_time"><div>43<em>天</em></div><span>剩余时间</span></li>
							</ul>
						</li>
						<li>
							<a href="">立即参与</a>
							<div class="crowdfun_img"><img src="images/crowdfun_img1.png" alt=""/></div>
							<div class="crowdfun_title"><span>十万个冷笑话</span><i>影视</i></div>
							<ul class="crowdfun_inf">
								<li class="percent"><div>124<em>%</em></div><span>已达</span></li>
								<li class="money"><div>&yen;&nbsp;<em>248860</em></div><span>已筹</span></li>
								<li class="left_time"><div>43<em>天</em></div><span>剩余时间</span></li>
							</ul>
						</li>
						<li>
							<a href="">立即参与</a>
							<div class="crowdfun_img"><img src="images/crowdfun_img1.png" alt=""/></div>
							<div class="crowdfun_title"><span>十万个冷笑话</span><i>影视</i></div>
							<ul class="crowdfun_inf">
								<li class="percent"><div>124<em>%</em></div><span>已达</span></li>
								<li class="money"><div>&yen;&nbsp;<em>248860</em></div><span>已筹</span></li>
								<li class="left_time"><div>43<em>天</em></div><span>剩余时间</span></li>
							</ul>
						</li>
						<li>
							<a href="">立即参与</a>
							<div class="crowdfun_img"><img src="images/crowdfun_img1.png" alt=""/></div>
							<div class="crowdfun_title"><span>十万个冷笑话</span><i>影视</i></div>
							<ul class="crowdfun_inf">
								<li class="percent"><div>124<em>%</em></div><span>已达</span></li>
								<li class="money"><div>&yen;&nbsp;<em>248860</em></div><span>已筹</span></li>
								<li class="left_time"><div>43<em>天</em></div><span>剩余时间</span></li>
							</ul>
						</li>
						<li>
							<a href="">立即参与</a>
							<div class="crowdfun_img"><img src="images/crowdfun_img1.png" alt=""/></div>
							<div class="crowdfun_title"><span>十万个冷笑话</span><i>影视</i></div>
							<ul class="crowdfun_inf">
								<li class="percent"><div>124<em>%</em></div><span>已达</span></li>
								<li class="money"><div>&yen;&nbsp;<em>248860</em></div><span>已筹</span></li>
								<li class="left_time"><div>43<em>天</em></div><span>剩余时间</span></li>
							</ul>
						</li>
						<li>
							<a href="">立即参与</a>
							<div class="crowdfun_img"><img src="images/crowdfun_img1.png" alt=""/></div>
							<div class="crowdfun_title"><span>十万个冷笑话</span><i>影视</i></div>
							<ul class="crowdfun_inf">
								<li class="percent"><div>124<em>%</em></div><span>已达</span></li>
								<li class="money"><div>&yen;&nbsp;<em>248860</em></div><span>已筹</span></li>
								<li class="left_time"><div>43<em>天</em></div><span>剩余时间</span></li>
							</ul>
						</li>
						<li>
							<a href="">立即参与</a>
							<div class="crowdfun_img"><img src="images/crowdfun_img1.png" alt=""/></div>
							<div class="crowdfun_title"><span>十万个冷笑话</span><i>影视</i></div>
							<ul class="crowdfun_inf">
								<li class="percent"><div>124<em>%</em></div><span>已达</span></li>
								<li class="money"><div>&yen;&nbsp;<em>248860</em></div><span>已筹</span></li>
								<li class="left_time"><div>43<em>天</em></div><span>剩余时间</span></li>
							</ul>
						</li>
						<li>
							<a href="">立即参与</a>
							<div class="crowdfun_img"><img src="images/crowdfun_img1.png" alt=""/></div>
							<div class="crowdfun_title"><span>十万个冷笑话</span><i>影视</i></div>
							<ul class="crowdfun_inf">
								<li class="percent"><div>124<em>%</em></div><span>已达</span></li>
								<li class="money"><div>&yen;&nbsp;<em>248860</em></div><span>已筹</span></li>
								<li class="left_time"><div>43<em>天</em></div><span>剩余时间</span></li>
							</ul>
						</li>
						<li>
							<a href="">立即参与</a>
							<div class="crowdfun_img"><img src="images/crowdfun_img1.png" alt=""/></div>
							<div class="crowdfun_title"><span>十万个冷笑话</span><i>影视</i></div>
							<ul class="crowdfun_inf">
								<li class="percent"><div>124<em>%</em></div><span>已达</span></li>
								<li class="money"><div>&yen;&nbsp;<em>248860</em></div><span>已筹</span></li>
								<li class="left_time"><div>43<em>天</em></div><span>剩余时间</span></li>
							</ul>
						</li>
						<li>
							<a href="">立即参与</a>
							<div class="crowdfun_img"><img src="images/crowdfun_img1.png" alt=""/></div>
							<div class="crowdfun_title"><span>十万个冷笑话</span><i>影视</i></div>
							<ul class="crowdfun_inf">
								<li class="percent"><div>124<em>%</em></div><span>已达</span></li>
								<li class="money"><div>&yen;&nbsp;<em>248860</em></div><span>已筹</span></li>
								<li class="left_time"><div>43<em>天</em></div><span>剩余时间</span></li>
							</ul>
						</li>
						<li>
							<a href="">立即参与</a>
							<div class="crowdfun_img"><img src="images/crowdfun_img1.png" alt=""/></div>
							<div class="crowdfun_title"><span>十万个冷笑话</span><i>影视</i></div>
							<ul class="crowdfun_inf">
								<li class="percent"><div>124<em>%</em></div><span>已达</span></li>
								<li class="money"><div>&yen;&nbsp;<em>248860</em></div><span>已筹</span></li>
								<li class="left_time"><div>43<em>天</em></div><span>剩余时间</span></li>
							</ul>
						</li>
						<li>
							<a href="">立即参与</a>
							<div class="crowdfun_img"><img src="images/crowdfun_img1.png" alt=""/></div>
							<div class="crowdfun_title"><span>十万个冷笑话</span><i>影视</i></div>
							<ul class="crowdfun_inf">
								<li class="percent"><div>124<em>%</em></div><span>已达</span></li>
								<li class="money"><div>&yen;&nbsp;<em>248860</em></div><span>已筹</span></li>
								<li class="left_time"><div>43<em>天</em></div><span>剩余时间</span></li>
							</ul>
						</li>
						<li>
							<a href="">立即参与</a>
							<div class="crowdfun_img"><img src="images/crowdfun_img1.png" alt=""/></div>
							<div class="crowdfun_title"><span>十万个冷笑话</span><i>影视</i></div>
							<ul class="crowdfun_inf">
								<li class="percent"><div>124<em>%</em></div><span>已达</span></li>
								<li class="money"><div>&yen;&nbsp;<em>248860</em></div><span>已筹</span></li>
								<li class="left_time"><div>43<em>天</em></div><span>剩余时间</span></li>
							</ul>
						</li>
						<li>
							<a href="">立即参与</a>
							<div class="crowdfun_img"><img src="images/crowdfun_img1.png" alt=""/></div>
							<div class="crowdfun_title"><span>十万个冷笑话</span><i>影视</i></div>
							<ul class="crowdfun_inf">
								<li class="percent"><div>124<em>%</em></div><span>已达</span></li>
								<li class="money"><div>&yen;&nbsp;<em>248860</em></div><span>已筹</span></li>
								<li class="left_time"><div>43<em>天</em></div><span>剩余时间</span></li>
							</ul>
						</li>
						<li>
							<a href="">立即参与</a>
							<div class="crowdfun_img"><img src="images/crowdfun_img1.png" alt=""/></div>
							<div class="crowdfun_title"><span>十万个冷笑话</span><i>影视</i></div>
							<ul class="crowdfun_inf">
								<li class="percent"><div>124<em>%</em></div><span>已达</span></li>
								<li class="money"><div>&yen;&nbsp;<em>248860</em></div><span>已筹</span></li>
								<li class="left_time"><div>43<em>天</em></div><span>剩余时间</span></li>
							</ul>
						</li>
						<li>
							<a href="">立即参与</a>
							<div class="crowdfun_img"><img src="images/crowdfun_img1.png" alt=""/></div>
							<div class="crowdfun_title"><span>十万个冷笑话</span><i>影视</i></div>
							<ul class="crowdfun_inf">
								<li class="percent"><div>124<em>%</em></div><span>已达</span></li>
								<li class="money"><div>&yen;&nbsp;<em>248860</em></div><span>已筹</span></li>
								<li class="left_time"><div>43<em>天</em></div><span>剩余时间</span></li>
							</ul>
						</li>
						<li>
							<a href="">立即参与</a>
							<div class="crowdfun_img"><img src="images/crowdfun_img1.png" alt=""/></div>
							<div class="crowdfun_title"><span>十万个冷笑话</span><i>影视</i></div>
							<ul class="crowdfun_inf">
								<li class="percent"><div>124<em>%</em></div><span>已达</span></li>
								<li class="money"><div>&yen;&nbsp;<em>248860</em></div><span>已筹</span></li>
								<li class="left_time"><div>43<em>天</em></div><span>剩余时间</span></li>
							</ul>
						</li>
						<li>
							<a href="">立即参与</a>
							<div class="crowdfun_img"><img src="images/crowdfun_img1.png" alt=""/></div>
							<div class="crowdfun_title"><span>十万个冷笑话</span><i>影视</i></div>
							<ul class="crowdfun_inf">
								<li class="percent"><div>124<em>%</em></div><span>已达</span></li>
								<li class="money"><div>&yen;&nbsp;<em>248860</em></div><span>已筹</span></li>
								<li class="left_time"><div>43<em>天</em></div><span>剩余时间</span></li>
							</ul>
						</li>
						<li>
							<a href="">立即参与</a>
							<div class="crowdfun_img"><img src="images/crowdfun_img1.png" alt=""/></div>
							<div class="crowdfun_title"><span>十万个冷笑话</span><i>影视</i></div>
							<ul class="crowdfun_inf">
								<li class="percent"><div>124<em>%</em></div><span>已达</span></li>
								<li class="money"><div>&yen;&nbsp;<em>248860</em></div><span>已筹</span></li>
								<li class="left_time"><div>43<em>天</em></div><span>剩余时间</span></li>
							</ul>
						</li>
						<li>
							<a href="">立即参与</a>
							<div class="crowdfun_img"><img src="images/crowdfun_img1.png" alt=""/></div>
							<div class="crowdfun_title"><span>十万个冷笑话</span><i>影视</i></div>
							<ul class="crowdfun_inf">
								<li class="percent"><div>124<em>%</em></div><span>已达</span></li>
								<li class="money"><div>&yen;&nbsp;<em>248860</em></div><span>已筹</span></li>
								<li class="left_time"><div>43<em>天</em></div><span>剩余时间</span></li>
							</ul>
						</li>
						<li>
							<a href="">立即参与</a>
							<div class="crowdfun_img"><img src="images/crowdfun_img1.png" alt=""/></div>
							<div class="crowdfun_title"><span>十万个冷笑话</span><i>影视</i></div>
							<ul class="crowdfun_inf">
								<li class="percent"><div>124<em>%</em></div><span>已达</span></li>
								<li class="money"><div>&yen;&nbsp;<em>248860</em></div><span>已筹</span></li>
								<li class="left_time"><div>43<em>天</em></div><span>剩余时间</span></li>
							</ul>
						</li>
						<li>
							<a href="">立即参与</a>
							<div class="crowdfun_img"><img src="images/crowdfun_img1.png" alt=""/></div>
							<div class="crowdfun_title"><span>十万个冷笑话</span><i>影视</i></div>
							<ul class="crowdfun_inf">
								<li class="percent"><div>124<em>%</em></div><span>已达</span></li>
								<li class="money"><div>&yen;&nbsp;<em>248860</em></div><span>已筹</span></li>
								<li class="left_time"><div>43<em>天</em></div><span>剩余时间</span></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--公用footer-->
		<div class="footer">
			<div class="footer_box box">
				<div class="footer_left">
					<a href="">
						<h1>杭州鸿古科技有限公司</h1>
						<h6>Hangzhou HongGu Science and Technology Co Ltd</h6>
					</a>
				</div>
				<div class="footer_right">
					<ul>
						<li><a href="">首页</a></li>
						<li><a href="">新闻动态</a></li>
						<li><a href="">影视众筹</a></li>
						<li><a href="">众筹发布</a></li>
						<li><a href="">会员中心</a></li>
						<li><a href="">app展示</a></li>
					</ul>
					<p>京ICP备11017824号-4/京ICP证130164号Copyright&nbsp;&copy;&nbsp;2006-2015ZCOOL</p>
				</div>
			</div>
		</div>
	</body>
</html>
