/*=========basic definition========*/
/*color*/
/*main color*/
/*basic color*/
/*font size*/
/*=========basic definition========*/
/*layout*/
/*header*/
/*navbar*/
/*logo*/
/*category*/
/*dropdown*/
a {
  color: #000000;
}
a:hover,
a:focus {
  color: #00ccce;
  text-decoration: none;
}
.layout {
  margin: 0 50px;
}
.logo {
  width: 130px;
  height: 40px;
  background-image: url('/static/images/logo.png');
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: transparent;
  display: block;
  top: 0;
  left: 0;
  transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  /* Firefox 4 */
  -webkit-transition: background-color 0.5s;
  /* Safari 和 Chrome */
  -o-transition: background-color 0.5s;
  /* Opera */
}
header {
  height: 80px;
  width: 100%;
  border-bottom: 2px solid #00ccce;
  padding: 20px 0;
  min-width: 980px;
  /*in case of disorder of elements*/
}
.qmzc-navbar {
  list-style: none;
  padding: 0;
  line-height: 40px;
  height: 40px;
  margin: auto 15px;
}
.qmzc-navbar > li {
  float: left;
  text-align: center;
  width: 100px;
  font-size: 16px;
}
.qmzc-navbar > li.active {
  border-bottom: 2px solid #00ccce;
}
.category {
  border: 1px solid #8a8a8a;
  border-radius: 20px;
  margin: 5px 2px;
  display: inline-block;
  cursor: pointer;
  padding: 10px;
}
.category .icon {
  color: #ff6458;
  margin-right: 4px;
  position: relative;
}
.category:hover .icon {
  animation: rollAnimation .3s;
  -moz-animation: rollAnimation .3s;
  /* Firefox */
  -webkit-animation: rollAnimation .3s;
  /* Safari and Chrome */
  -o-animation: rollAnimation .3s;
  /* Opera */
}
.category:hover,
.category:focus,
.category:active,
.category.selected {
  background-color: #ff6458;
  color: #ffffff;
  border: 1px solid #ff6458;
}
.category:hover .icon,
.category:focus .icon,
.category:active .icon,
.category.selected .icon {
  color: #ffffff;
}
@keyframes rollAnimation {
  0% {
    top: 28px;
  }
  25% {
    top: 21px;
  }
  50% {
    top: 14px;
  }
  75% {
    top: 7px;
  }
  100% {
    top: 0px;
  }
}
@-moz-keyframes rollAnimation {
  /* Firefox */
  0% {
    top: 28px;
  }
  25% {
    top: 21px;
  }
  50% {
    top: 14px;
  }
  75% {
    top: 7px;
  }
  100% {
    top: 0px;
  }
}
@-webkit-keyframes rollAnimation {
  /* Safari 和 Chrome */
  0% {
    top: 28px;
  }
  25% {
    top: 21px;
  }
  50% {
    top: 14px;
  }
  75% {
    top: 7px;
  }
  100% {
    top: 0px;
  }
}
@-o-keyframes rollAnimation {
  /* Opera */
  0% {
    top: 28px;
  }
  25% {
    top: 21px;
  }
  50% {
    top: 14px;
  }
  75% {
    top: 7px;
  }
  100% {
    top: 0px;
  }
}
.dropdown {
  border: 1px solid #8a8a8a;
  border-radius: 20px;
  margin: 5px 2px;
  display: inline-block;
  cursor: pointer;
}
.dropdown a {
  padding: 10px;
  display: block;
  color: #000000;
}
.dropdown a:hover,
.dropdown a:focus,
.dropdown a:active {
  color: #000000;
}
.dropdown .fa {
  color: #ff6458;
}
.dropdown .selected-text {
  display: inline-block;
  width: 100px;
}
.dropdown .dropdown-menu {
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  min-width: 130px;
  left: 5px;
  margin-top: 10px;
  padding: 0;
}
.dropdown .dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #999999;
}
.dropdown .dropdown-menu ul li {
  width: 130px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.dropdown .dropdown-menu ul li:not(:last-child) {
  border-bottom: 1px solid #cccccc;
}
.dropdown .dropdown-menu ul li:hover,
.dropdown .dropdown-menu ul li:focus {
  background-color: #ff6458;
  color: #ffffff;
}
.dropdown .dropdown-menu .top-triangle {
  width: 0;
  height: 0;
  position: absolute;
  border-style: solid;
  top: -8px;
  left: 60px;
  border-width: 0 5px 8.66025404px 5px;
  border-color: transparent transparent #ffffff transparent;
}
.dropdown .dropdown-menu .top-triangle-border {
  width: 0;
  height: 0;
  position: absolute;
  border-style: solid;
  top: -10px;
  left: 59px;
  border-width: 0 6px 10.39230485px 6px;
  border-color: transparent transparent #cccccc transparent;
}
#projects_list {
  margin-top: 20px;
}
.project {
  border: 1px solid #cccccc;
  margin-bottom: 15px;
}
.project:hover .overlay {
  background-color: rgba(99, 99, 99, 0.3);
}
.project a:hover,
.project a:focus {
  color: #000000;
}
.project .cover-wrapper {
  position: relative;
}
.project .cover-wrapper img.cover {
  width: 100%;
}
.project .cover-wrapper .status-tag {
  height: 20px;
  padding: 0 10px;
  background-color: #00ccce;
  color: #ffffff;
  position: absolute;
  left: 0;
  bottom: 0;
}
.project .title {
  padding: 10px;
}
.project .progress {
  height: 5px;
  border-radius: 0;
}
.project .progress .progress-bar {
  background-color: #00ccce;
}
.project .preview {
  padding-bottom: 10px;
}
.project .preview .info {
  text-align: center;
}
.project .preview .info .value {
  display: block;
  font-size: 12px;
}
.project .preview .info .name {
  color: #999999;
  font-size: 12px;
}
