<div id="projects_filter" class="clearfix">
    <div class="categories pull-left">
        <span class="category all selected"><span class="icon">ALL</span><span>全部</span></span>
        <span class="category tech"><span class="icon"><i class="fa fa-desktop"></i></span><span>科技</span></span>
    </div>
    <div class="filters pull-right">
        <span>状态:</span>
        <div class="dropdown">
            <a id="status_filter" data-value="1" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="selected-text">全部</span>
                <i class="fa fa-angle-down fa-lg"></i>
            </a>

            <div class="dropdown-menu" aria-labelledby="status_filter">
                <div class="top-triangle-border"></div>
                <div class="top-triangle"></div>
                <ul>
                    <li data-value="1">全部</li>
                    <li data-value="2">筹款中</li>
                    <li data-value="3">预热中</li>
                    <li data-value="4">筹款成功</li>
                </ul>
            </div>
        </div>
        <!--separator-->
        <span>排序:</span>
        <div class="dropdown">
            <a id="order_filter" data-value="1" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="selected-text">最新上线</span>
                <i class="fa fa-angle-down fa-lg"></i>
            </a>

            <div class="dropdown-menu" aria-labelledby="order_filter">
                <div class="top-triangle-border"></div>
                <div class="top-triangle"></div>
                <ul>
                    <li data-value="1">最新上线</li>
                    <li data-value="2">金额最高</li>
                    <li data-value="3">最受欢迎</li>
                </ul>
            </div>
        </div>
    </div><!--filters-->
</div><!--projects_filter-->
