{% extends "app/layout.html" %}
{% block content%}
    <div class="layout">
        {% include "app/project/filter.html"%}
        <div id="projects_list" class="clearfix">
            {% for item in data['projects'] %}
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <div class="project">
                        <a href="#" target="_blank">
                            <div class="cover-wrapper">
                                <img class="cover" src="/static/images/test_project.jpg" alt="test"/>
                                <span class="status-tag">{%if item.status==1%}筹款中 {%elif item.status==2%}已完成 {%endif%}</span>
                                <span class="overlay"></span>
                            </div>
                                <div class="title">{{item.title}}</div>
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: {{item.get_complete_rate()}}%;">
                                <span class="sr-only">60% Complete</span>
                              </div>
                            </div>
                            <div class="preview">
                                <div class="infos row">
                                    <span class="info percentage col-xs-4">
                                        <span class="value">{{item.get_complete_rate()}}%</span>
                                        <span class="name">达成率</span>
                                    </span>
                                    <span class="info amount col-xs-4">
                                        <span class="value">{{item.current_money}}</span>
                                        <span class="name">已筹金额</span>
                                    </span>
                                    <span class="info people col-xs-4">
                                        <span class="value">{{item.support_times}}</span>
                                        <span class="name">支持人数</span>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div><!--layout-->
            <p class='pagination'>
            {%if data.paginate.has_prev%}
            <a class='prev' href="/project/list?page={{data.paginate.prev_num}}&page_size={{data.paginate.per_page}}">上一页</a>
            {%endif%}
            <span class='current'>{{data.paginate.page}}</span>
            {%for page_no in range(data.paginate.page+1,data.paginate.pages+1)%}

                {%if loop.index<=5%}
                                <a class='item' data-page={{page_no}} href="/project/list?page={{page_no}}&page_size={{data.paginate.per_page}}" >{{page_no}}</a>
                {%endif%}
            {%endfor%}
            {%if data.paginate.has_next%}
            <a class='next' href="/project/list?page={{data.paginate.next_num}}&page_size={{data.paginate.per_page}}">下一页</a>
            {%endif%}
        </p>
{% endblock content%}