<!--preview-->
<div class="pull-right owner-preview box" xmlns="http://www.w3.org/1999/html">
    <div class="avatar pull-left"></div>
    <div class="pull-left">给我留言|项目发起人</div>
</div>
<!--content to fill-->
<div class="left-column box clearfix">
    <div class="form-horizontal pull-left">
        <p>完善项目发起人名片，将显示在项目页面，让用户更加了解你和你的项目</p>
        <!--发起人姓名-->
        <div class="form-group">
            <label for="owner-name" class="col-sm-2 control-label required">发起人姓名:</label>
            <div class="col-sm-10">
                <input type="text" id="owner-name" class="form-control"/>
            </div>
        </div>
        <!--发起人简介-->
        <div class="form-group">
            <label for="owner-desc" class="col-sm-2 control-label required">发起人简介:</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="owner-desc" placeholder="请用简短文字介绍你"></textarea>
            </div>
        </div>
        <!--头像-->
        <div class="form-group">
            <label for="owner-avatar" class="col-sm-2 control-label required">项目标签:</label>
            <div class="col-sm-10">
                <button id="owner-avatar" class="btn btn-site upload-image">上传头像</button>
                <span class="desc-text">建议图片尺寸100×100，图片大小不得超过5M</span>
            </div>
        </div>
        <div class="form-group">
            <label for="owner-other-info" class="col-sm-2 control-label required">项目标签:</label>
            <div class="col-sm-10">
                <button id="owner-other-info" class="btn btn-site upload-image">上传证明</button>
                <span class="desc-text">公司用户上传: 营业执照扫描件、营业执照副本扫描件、法人身份证扫描件<br /> 个人用户上传: 身份证扫描件</span>
            </div>
        </div>
        <hr />
        <p class="text-danger">填写联系人资料，非常重要!</p>
        <!--联系人姓名-->
        <div class="form-group">
            <label for="contact-name" class="col-sm-2 control-label required">联系人姓名:</label>
            <div class="col-sm-10">
                <input type="text" id="contact-name" class="form-control"/>
            </div>
        </div>
        <!--联系人邮箱-->
        <div class="form-group">
            <label for="contact-email" class="col-sm-2 control-label required">邮箱:</label>
            <div class="col-sm-10">
                <input type="text" id="contact-email" class="form-control"/>
            </div>
        </div>
        <!--联系人电话-->
        <div class="form-group">
            <label for="contact-phone" class="col-sm-2 control-label required">电话:</label>
            <div class="col-sm-10">
                <input type="text" id="contact-phone" class="form-control"/>
            </div>
        </div>
    </div>
</div>
<div class="left-column row step-buttons">
    <button type="button" class="btn btn-default btn-lg pull-left">保存</button>
    <button type="button" class="btn btn-info btn-lg pull-right">下一步</button>
</div>