<div class="box">
    <div class="clearfix">
    {% for item in [1, 2] %}
        <div class="pay-back pull-left">
            <div class="header">
                <span class="name">回报1</span>
                <div class="op pull-right">
                    <a class="delete" href="javascript:void(0)">删除</a>
                    <a class="edit" href="javascript:void(0)">编辑</a>
                </div>
            </div>
            <div class="detail">
                <button class="btn btn-info btn-lg support">支持</button>
                <div class="amt">
                    <i class="fa fa-jpy fa-lg"></i>
                    <span>12.00</span>
                </div>
                <h4 class="title">
                    超好的东东哦
                </h4>
                <div class="description">
                    走过路过不容错过
                </div>
                <div>
                    已有<span class="support-num text-danger">0</span>位支持
                </div>
                <img class="image-preview" src="/static/images/test_project.jpg"/>
                <div class="transport">
                    无需物流
                </div>
                <div class="payback-time">
                    预计回报发放时间: 项目筹款成功后的<span>12</span>天内
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <button class="btn btn-site btn-lg" id="add_payback">+新增回报</button>
</div>
<div class="row step-buttons">
    <button type="button" class="btn btn-default btn-lg pull-left">预览</button>
    <button type="button" class="btn btn-info btn-lg pull-right">下一步</button>
    <button type="button" class="btn btn-info btn-lg pull-right">上一步</button>
</div>
{% include 'app/project/add_payback_modal.html' %}
