{% extends "admins/layout.html" %}

{% block main %}
    <section class="content-header">

    <h1>{{title}}</h1>
    </section>
    <section class="content">
        <div class="box box-info">
            <div class='box-body'>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>姓名</th>
                            <th>手机号码</th>
                            <th>邮箱</th>
                            <th>性别</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{user.id}}</td>
                                <td>{{user.name}}</td>
                                <td><a href="javascript:void(0)" class="user_mobile"
                                   data-id="{{ user.id }}">{{ user.mobile }}</a></td>
                                <td>{{user.email}}</td>
                                <td>{% if user.sex==1 %}男性
                                {% elif user.sex==2 %}女性 {% else %}未知{% endif %}
                                </td>
                                <td>{{user.status}}</td>
                                <td><a href="javascript:void(0);" class="delete_user" data-id="{{ user.id }}">删除</a></td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

             <div class="box-footer">
            {% if paginate %}
                <div class="paginate clearfix">
                    <div class="pull-left">
                        共<a href="{{ request.path }}?{% if s %}s={{ s }}&{% endif %}page={{ paginate.pages }}"><strong>{{ paginate.pages }}</strong></a>页，当前第<strong>{{ paginate.page }}</strong>页
                    </div>
                    <div class="pull-right">
                        {% if paginate.has_prev %}
                            <a href="{{ request.path }}?{% if s %}s={{ s }}&{% endif %}page={{ paginate.prev_num }}">上一页</a>
                        {% endif %}
                        {% if paginate.has_next %}
                            <a href="{{ request.path }}?{% if s %}s={{ s }}&{% endif %}page={{ paginate.next_num }}">下一页</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
        
    </section>
{% endblock %}



{% block script %}
    <script type="text/javascript">
        $(document).ready(function () {


            $('.delete_user').bind('click', function () {
                var user_id = $(this).data('id');
                var that = this;
                $.ajax({
                    method: "POST",
                    url: '/admin/user/delete',
                    data: JSON.stringify({user_id: user_id}),
                    contentType: "application/json",
                    success: function (res) {
                        if (res.code == 1) {
                            showSuccessAlert('删除成功！');
                            $(that).parents('tr').remove();
                        }
                    }
                })
            });
        });
        </script>
{% endblock %}